# Pi-hole runtime data
nodes/*/pihole/etc-pihole/pihole-FTL.db*
nodes/*/pihole/etc-pihole/gravity.db*
nodes/*/pihole/etc-pihole/gravity_old.db
nodes/*/pihole/etc-pihole/dhcp.leases
nodes/*/pihole/etc-pihole/listsCache/
nodes/*/pihole/etc-pihole/config_backups/

# General
*.log
.DS_Store
